@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

@font-face {
    font-family: Good-Times;
    src: url(../fonts/good\ times\ rg.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

#inicio {
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url("../img/fondo1.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .contenido header {
    background-color: rgba(0,0,0,.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top:0;
}

#inicio .contenido header .contenido-header{
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#logo {
    width: 40px;
    filter: invert(79%) sepia(55%) saturate(3136%) hue-rotate(0deg) brightness(105%) contrast(101%);
}

#logo2 {
    width: 380px;
}

.contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.contenido-header nav ul  li a{
    text-decoration: none;
    color: #ffffff;
    margin: 0 12px;
    font-weight: 400;
    font-family: 'Comfortaa', cursive;
    transition: .5s;
}

.contenido-header nav ul  li a:hover {
    color: #FFC300;
}

#icon-nav {
    display: none;
}

.redes {
    width: 100px;
    height: 40px;
    display: flex;
}

.redes div {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redes a i {
    color: #FFC300;
    font-size: 1.3em;
    transition: .4s;
}

.redes a i:hover {
    color: #ffe17e;
    font-size: 2em;
}
.conteiner {
    max-width: 1300px;
    height: 100vh;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.conteiner-bienvenida {
    height: 200px;
}

.presentacion {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.bienvenida {
    margin-top: 150px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
}

.presentacion .text h2 {
    font-size: 45px;
    margin-bottom: 25px;
    text-align: center;
}

.presentacion div {
    max-width: 40vw;
}

.imagen-presentacion {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.imagen-presentacion a{
    text-decoration: none;
    font-family: Comfortaa;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 20px 25px;
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

.imagen-presentacion a:hover{
    background-color: #ffc400;
}

.descripcion{
    max-width: 1100px;
    margin: 25px auto;
    font-size: 1.15em;
    text-align: center;
}

#sobremi {
    max-width: 1300px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}

#sobremi .contenedor-foto {
    max-width: 400px;
    margin-right: 80px;
}

#sobremi .contenedor-foto img {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;
}

#sobremi .sobremi {
    margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h2 span {
    color: #FFC300;
}

#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p {
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}

#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a:hover {
    background-color: #FFC400;
    color: #fff;
}

#experiencia {
    /*background: #3d3e42;
    color: #9099a0;*/
    background: #535458;
    color: #fff;
}

#experiencia .conteiner-exp {
    max-width: 1300px;
    margin: auto;
}

#experiencia .experiencia-titulo {
    text-align: center;
    padding: 60px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #FFC300;
}

.experiencia {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.columna-empleo {
    max-width: 600px;
}

.experiencia h4 {
    color: #ffe17e;
    font-weight: bold;
}